<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12"><h2>ToDo</h2></div>
    </div>
    <form class="p-2" [formGroup]="taskForm" (ngSubmit)="addTask()">
        <!-- {{diagnostic}} -->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label>
                    Description: 
                </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="text" formControlName="taskDescription">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 m-1">
                <label>
                    Priority: 
                </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="form-check">
                    <label for="highPriority" class="form-check-label m-1">High</label> 
                    <input class="form-check-input m-1" type="radio" formControlName="priority" id="highPriority" value="high"> <br>
                </div>
                <div class="form-check">
                    <label for="medPriority" class="form-check-label m-1">Medium</label>
                    <input class="form-check-input" type="radio" formControlName="priority" id="medPriority" value="medium">
                </div>
                <div class="form-check">
                    <label for="lowPriority" class="form-check-label m-1">Low</label>
                    <input class="form-check-input" type="radio" formControlName="priority" id="lowPriority" value="low">
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label>Due: </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <input class="form-control" type="date" formControlName="dueDate">
                <div *ngIf="taskForm.get('dueDate').hasError('dateOverDue')" class="text-danger">Date has already passed!</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button class="btn btn-primary" type="submit" [disabled]="taskForm.invalid">Add</button>
            </div>
        </div>
        <div class="border border-info m-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 m-1"><h2>Task</h2></div>
            </div>        
            <div formArrayName="taskList">
                <div class="row" *ngFor="let taskItem of taskArray.controls" [formGroup]="taskItem">
                    <div class="col-lg-12 col-md-12 col-sm-12 border border-info m-3">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" formControlName="taskDescription">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" formControlName="priority">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" formControlName="dueDate">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
